@import "../utils/breakpoints";
@import "../utils/functions";
@import "../base/variables";

h1,
h2,
h3,
h4 {
  font-style: normal;
  letter-spacing: rem(1);
  margin: 0;
}

h1 {
  font-weight: $bold;
  font-size: rem(35);

  @include breakpoints-max(md) {
    font-size: rem(30);
  }
}

h2 {
  font-weight: $semiBold;
  font-size: rem(30);
}

h3 {
  font-weight: $semiBold;
  font-size: rem(27);
}

h4 {
  font-weight: $semiBold;
  font-size: rem(23);
}

p {
  font-size: rem(16);
  font-weight: normal;
  font-style: normal;
}

a,
a:visited,
a:active {
  text-decoration: none;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-weight: $regular;
}

a {
  color: $textColor;
}

a:hover {
  color: $hoverColor;
}
