/// COLOURS

$primaryColor: rgb(20, 20, 20);
$secondaryColor: #e50914;
$bodyColor: #141414;
$textColor: #fff;
$hoverColor: #e5e5e5;
$footerText: grey;

//FONTS

$regular: 400;
$light: 300;
$semiBold: 500;
$bold: 600;
