@import "../../scss/base/variables";
@import "../../scss/utils/functions";
@import "../../scss/utils/breakpoints";

.header {
  height: 75px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
  transition: background-color 500ms ease-in-out;
  z-index: 9999;

  &.scroll {
    background-color: $primaryColor;
    transition: background-color 500ms ease-in-out;
  }

  .container {
    height: 100%;
    padding: 0 60px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    .h_left {
      display: flex;
      align-items: center;
      gap: 1em;

      @include breakpoints-max(lg) {
        gap: 0.5rem;
      }

      .logo {
        height: 70px;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

        li {
          margin-left: rem(30);
          display: block;

          @include breakpoints-max(lg) {
            margin-left: rem(15);
          }

          .link {
            color: $textColor;
            transition: color 300ms ease-in-out;
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: $light;
            font-size: rem(17);

            &:hover {
              color: $hoverColor;
            }
          }
        }
      }
    }

    .h_right {
      display: flex;
      align-items: center;
      color: $textColor;

      span {
        margin-right: rem(18);
        font-size: 17px;
        text-transform: uppercase;
        font-weight: $regular;
        cursor: pointer;
      }

      .icon {
        font-size: rem(28);
        margin-right: rem(18);
        cursor: pointer;
      }

      .arrowIcon {
        transition: transform 500ms ease;
        z-index: 1;
        &:hover {
          transform: rotate(180deg);
          transition: transform 300ms ease;
        }
      }

      .dropDown {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .options {
          display: none;
          position: absolute;
          gap: 2rem;
          background: rgba(0, 0, 0, 0.9);
          padding: 2rem 1.7rem;
          border-radius: 5px;
          margin-top: 26px;

          span {
            text-transform: capitalize;
            margin-right: 0;
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
